.container{
    background-color: red;
    width: 80%;
    height: 200px;
}

.container div{
    background-color: white;
    float: left;

    width: 30%;
    height: 55px;
    margin: 5px;

    text-align: center;
}

.marker {
    font-size: 30px;
}
